/* import Martian Mono*/

/* import Bebas Neue*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Martian Mono', monospace;
}

body{
    background-image: linear-gradient(to right,whitesmoke,#2a9df4);
    background-repeat: no-repeat;
    overflow-x: hidden;

}

.container{
    height: 100%;
    background-image: url("../images/background-cloud.png");
    background-size: cover;
}

.header
{
    position: sticky;
    top: 0;
    z-index: 100;
    background-image: linear-gradient(lavender,skyblue);
    height:10vh;   
}

.header > header{
   
    height: 100%;
}

.nav{
   
    height:100%;
}

nav{
   
    height: 100%;
}

.website-name{
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: rgba(65, 153, 225, 0.555);
    font-weight: 900;
    text-shadow: 1px 2px #333;
    width:30%;
    height: 100%;
    border: 1px solid grey;
}

.anchor-list{
    width: 70%;
}

.anchor-list > ul{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav > nav{
    display: flex;
}


.anchor-list > ul > li {
    height:100%;
    width:100%;
    list-style: none;
    border: 1px solid grey;
}

li > a {
color:#189AB4;
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
text-shadow: 2px 2px #333;
font-family: 'Martian Mono', monospace;
font-weight: 900;
text-decoration: none;
}


li > a:hover, li > a:focus{
    background-color: #189AB4;
    color: white;
    transition: 0.7s;
}

.no-wrap{
    white-space: nowrap;
}

.long-card{
    margin: 1rem 0;
    width:100%;
    height:50vh;
    border: 2px dashed red;
}

.cloud{
    width: 10%;
    height: 10%;
}

@media screen and (max-width:980px){
    
    .container{
        font-size: small;
    }

    .header{
        height: 13vh;
    }

    .nav > nav{
        width:100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .website-name {
        width: 100%;
        height:60%;
    }

    .anchor-list{
        width: 100%;
        height: 40%;
    }

    li > a {
        
        border-top: none;
    } 

    .introduction{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .introduction > .intro {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-us{
        flex-direction: column;
        
    }

    main > .about-us > .about-us-info  {
        width:70%;
    }

    main > .card-skills{
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 2rem;
        width: 70%;
        margin: 0 auto;
    }

    main > .tech {
        grid-template-columns: 1fr;
        place-items: center;
    }

}

.introduction{
    display: flex;
    margin: 4rem 1rem;
    border : 0.5px solid grey;
    box-shadow: 0 4px 8px 0 #333;
    border-radius: 5px;
}

.introduction > .about-me{
    width:31rem;
    height:25rem;
    color: #333;
}
.about-me img{
    width: 100%;
    height: 100%;
}
.about-info > h1 {

    font-family: 'Ubuntu', sans-serif;
    margin-top: 0.5rem;
    
}
.intro{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wave-emoji{
    font-size: 5rem; 
    display: inline-block;
    animation: wave 3s infinite;
    transform-origin: 70% 70%;
    
}

.hidden-left-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s;
}

.show-left-right{
    opacity: 1;
    transform: translateX(0);
    filter: blur(0px);    
}

.hidden-right-left{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(+100%);
    transition: all 1.5s;
}

.show-right-left{
    opacity: 1;
    transform: translateX(0);
    filter: blur(0px);
    
}





.about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.about-us > .about-us-image{
    width: 30rem;
    height: 25rem;
}

.about-us > .about-us-info  {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.about-us > .about-us-info >p  {
    margin-top: 1rem;
}
.card-skills{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

   
}

.card-skill{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 #333;
    padding: 0.5rem;
    height: 10rem;
    width: 14rem;
    border-radius: 5px;
}

.card-skill-image > img {
    height: 5rem;
}

.card-skills > .bottom-blue{
    border-bottom: 4px solid #189AB4;
    background-image: linear-gradient(whitesmoke,skyblue);
}

.card-skills > .bottom-yellow{
    border-bottom: 4px solid #F2C94C;
    background-image: linear-gradient(whitesmoke,skyblue);
}

.card-skills > .bottom-light-green{
    border-bottom: 4px solid #6FCF97;
    background-image: linear-gradient(whitesmoke,skyblue);
}

.card-skills > .bottom-dark-green{
    border-bottom: 4px solid #219653;
    background-image: linear-gradient(whitesmoke,skyblue);
}

.my-skills{
    margin:12rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-skills > h1{
    
    margin-bottom: 1rem;
}

.tech{

    display: grid;
    grid-template-columns: auto auto;
    row-gap: 2rem;
    width: 70%;
    margin: 1rem auto;
    place-items: center;

}


.tech-container > .tech-skill{
   
    width:20rem;
    height:1rem;
    background-color: aliceblue;
    border-radius: 521312px;
    border: #333 solid 1px;
}


.skill-level{
    animation: progress 1.5s ease; 
}

.java > .skill-level{
    background-image: linear-gradient(to right,skyblue,purple);
    width: 80%;
    height:0.899rem;
    border-radius: 521312px;
    
}

.cpp > .skill-level{
    background-image: linear-gradient(to right,skyblue,purple);
    width: 70%;
    height:0.899rem;
    border-radius: 521312px;
}

.html > .skill-level{
    background-image: linear-gradient(to right,skyblue,purple);
    width: 75%;
    height:0.899rem;
    border-radius: 521312px;
}

.javascript > .skill-level{
    background-image: linear-gradient(to right,skyblue,purple);
    width: 60%;
    height:0.899rem;
    border-radius: 521312px;
}

.css > .skill-level{
    background-image: linear-gradient(to right,skyblue,purple);
    width: 70%;
    height:0.899rem;
    border-radius: 521312px;
}

.kotlin > .skill-level{
    background-image: linear-gradient(to right,skyblue,purple);
    width: 65%;
    height:0.899rem;
    border-radius: 521312px;
}

.education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}



.education > .education-card{
    border: 3px solid #333;
    margin: 1rem 0;
    width: 50%;
}



.education-card > .education-description{
  max-height: 0px;
  overflow: hidden;
  transition: 1s ease-in;
 
}
.active{
}

@keyframes wave {
    0% {
      transform: rotate( 0.0deg) 
    }
    10% {
      transform: rotate(14.0deg) 
    }
    20% {
      transform: rotate(-8.0deg) 
    }
    30% {
      transform: rotate(14.0deg) 
    }
    40% {
      transform: rotate(-4.0deg) 
    }
    50% {
      transform: rotate(10.0deg) 
    }
    60% {
      transform: rotate( 0.0deg) 
    }
    100% {
      transform: rotate( 0.0deg) 
    }

}

@keyframes progress {
    from {
      width: 0%;
    }

}
    
